* {
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    align-items: center;
    padding: 0 170px;
    background-color: white;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: sticky;
    top: 0;
    z-index: 2;
}

#navbar> :nth-child(2) {
    margin-left: 60px;
}

#navbar>div {
    width: 130px;
    display: block;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsiss;
    overflow: hidden;
    line-height: 0.5;
}

#navbar > div > h4 {
    font-size: 12px;
    color: rgb(195, 189, 189);
    font-weight: 500;
}

#navbar > div > *{
    margin-left: 3px;
}

#navbar> :nth-child(4) {
    height: 8px;
    width: 10px;
    margin-top: 18px;
    margin-left: 8px;
}

#navbar> :nth-child(5) {
    box-sizing: border-box;
    margin-left: 50px;
    height: 38px;
    width: 500px;
    border: 1px solid rgb(209, 205, 205);
    border-radius: 5px;
    padding-left: 20px;
    font-size: 14px;
    background-color: #F8F8F8;
}

::placeholder {
    color: rgb(204, 196, 196);
}

#navbar> :nth-child(6) {
    position: relative;
    left: -45px;
}

#navbar> :nth-child(7) {
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
}

#navbar> :nth-child(8) {
    margin: 3px 100px 0 10px;
}

#navbar> :last-child {
    margin: 2px 0 0 10px;
}

.header {
    color: #4A4A4A;
    font-size: 22px;
    font-weight: 600;
    display: inline-block;
    margin: 15px 0 0 30px;
}

#section {
    display: flex;
    width: 80%;
    margin: auto;
    border: 1px solid black;
    height: 150px;
    overflow-x: scroll;
    overflow-y: hidden;
}

#section>div {
    width: 120px;
}

#section>div>img {
    width: 100%;
}

#products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80%;
}

#products > .product:hover {
    cursor: pointer;
    color: #D11243;
}

#products>.product {
    width: 7%;
    padding-right: 15px;
}

#products > .product p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
}

.product img {
    
    width: 100%;
}

#hero__image__carousel>.image {
    width: 100%;
    /* border: 1px solid black; */
}

.image>img {
    width: 100%;
}

.join {
    margin: auto;
    margin-top: 20px;
    width: 50%;
    border-radius: 10px;
    background-color: #FFDC93;
}

.join>div {
    padding: 20px 10px 0px 20px;
    display: flex;
    justify-content: space-between;
}

.join>div>img {
    width: 90px;
}

.join>div>button {
    color: white;
    border: none;
    background-color: #D11243;
    padding: 7px 20px;
    border-radius: 4px;
    font-size: 13px;
}

.join>p {
    margin-top: -12px;
    padding: 0px 10px 6px 25px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(73, 72, 72);
}

#know-licious-section {
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    border: 1px solid #dedddd;
    border-radius: 8px;
}

#know-licious-section>h2 {
    width: 300px;
    position: absolute;
    text-align: center;
    left: 50%;
    font-size: 20px;
    top: -20px;
    margin-left: -140px;
    background-color: white;
    padding: 10px 0;
    font-weight: 600;
    color: #D11243;
}

#know-licious-way {
    line-height: 0.8;
    vertical-align: middle;
    margin: auto;
    margin: 30px 0px;
    text-align: center;
    display: flex;
    white-space: nowrap;
    justify-content: center;
    list-style: none;
}

#know-licious-way li {
    margin: auto;
    font-size: 17px;
    color: #4a4a4a;
    padding: 0 59px;
    border-right: 1px solid grey;
}

#know-licious-way> :last-child {
    border-right: none;
}

#discover {
    position: absolute;
    left: 50%;
    margin-left: -65px;
    bottom: -20px;
    background-color: white;
    border-radius: 5px;
    border-color: #D11243;
    color: #D11243;
    font-weight: 600;
    font-size: 17px;
    padding: 2px 10px;
}

#discover>img {
    transform: rotate(90deg);
    width: 8px;
    margin-left: 5px;
}

#best-seller__container,
#cuts__container,
#breakfast__container {
    position: relative;
    width: 85%;
    margin: auto;
}

#best__sellers {
    width: 95%;
    position: relative;
    height: auto;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    /* align-items: center; */
    overflow-x: auto;
    margin-bottom: 20px;
}

#best__sellers::-webkit-scrollbar {
    display: none;
}

.card,
.card_ {
    min-width: 28%;
    margin: 0 20px;
    height: 100%;
    background: white;
    margin: 20px 20px 0 0;
    border-radius: 10px;
    transition: 0.8s;
}

.card> :first-child,
.card_> :first-child {
    width: 100%;
}

.card> :first-child>img,
.card_> :first-child>img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card>.price__section,
.card_>.price__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

.card>.price__section>button,
.card_>.price__section>button {
    border: none;
    font-size: 11px;
    background-color: #D11243;
    color: white;
    padding: 9px 15px;
    border-radius: 4px;
}

.card>.price__section>div>span,
.card_>.price__section>div>span {
    color: #D11243;
}

.card > :nth-child(2) > :first-child span , .card_ > :nth-child(2) > :first-child span {
    padding-left: 15px;
}

.card > :nth-child(2) > p , .card_ > :nth-child(2) > p {
    padding-left: 15px;
}

.card > :nth-child(2) > p span , .card_ > :nth-child(2) > p span {
    margin-right: 25px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(88, 86, 86);
}

.card> :nth-child(2)> :nth-child(2),
.card_> :nth-child(2)> :nth-child(2) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.2;
    margin-bottom: 10px;
    padding: 15px 15px 0;
    box-sizing: border-box;
    font-size: 14px;
}

.card> :last-child, .card_> :last-child {
    text-align: center;
    margin: 10px 10px;
    color: rgb(195, 189, 189);
}

#slider__left,
#cuts__slider__left {
    position: absolute;
    top: 50%;
    margin-left: -145px;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    font-size: 30px;
    z-index: 1;
}

#cuts__slider__left {
    margin-left: -168px;
}

#slider__right,
#cuts__slider__right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border: none;
    background: transparent;
    font-size: 30px;
    z-index: 1;
}

#content {
    display: flex;
    width: 55%;
    margin: auto;
    border: 0.5px solid #ffe6ea;
    padding: 12px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(255, 230, 234, .6), #ffe6ea), url(/img/default/rewards/rewards_banner_background.svg);
    cursor: pointer;
}

#content > :nth-child(2) {
    margin-left: 20px;
}

#content > :nth-child(2) > :first-child {
    display: flex;
    justify-content: space-between;
    width: 730px;
}

#content > :nth-child(2) > :first-child button {
    border: none;
    background-color: transparent;
    color: #D11243;
    font-size: 11px;
    font-weight: 600;
}

#category__container {
    width: 80%;
    margin: auto;
}

#category__container>ul {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-gap: 14px;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    text-align: center;
}

#category__container>ul>li>div {
    width: 100%;
    height: 205px;
    border-radius: 8px;
    overflow: hidden;
}

#category__container>ul>li>div>img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

#category__container>ul>li>div>img:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.5s;
}

#category__container>ul>li>span {
    font-size: 20px;
    color: #3e4d60;
}

#blog {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 50px;
}

#blog>button {
    border: none;
    background-color: transparent;
    font-size: 12px;
    color: #D11243;
}

#post__container {
    display: flex;
    width: 98%;
    margin: auto;
    margin-top: 20px;
}

#post__container>div {
    width: 30%;
    margin: auto;
    border-radius: 8px;
}

#post__container img {
    height: 378px;
    width: 100%;
    border-radius: 8px 8px;
}

#post__container span {
    font-size: 18px;
    line-height: 2;
    color: #4a4a4a;
    font-weight: 600;
}

#banner {
    width: 95%;
    margin: auto;
    margin-top: 10px;
    min-height: 300px;
}

#banner img {
    width: 100%;
}